.main-wrapper {
  display: block;
}
.sub-wrapper {
  margin: 0;
  display: grid;
  grid-template-columns: 80vh 1fr;
  min-height: 90vh;
}

.control-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.preview-side {
  /* border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  background-color: #eeeff1;
}

.now-serving-wrap {
    display: block;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 465px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
}

.serving-title-wrap {
    background-color: #eeeff1;
    border-bottom: 1px solid #e1e1e2;
    padding: 10px;
}

.now-serving-text {
    font-size: 26px;
}

.serving-number-wrap {
    padding: 20px;
}
.serving-number {
    font-size: 85px;
}

button {
    background-color: #0fa1f5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 5px;
}

button:hover {
    background-color: #45a049;
}

/* DROPDOWN STYLES */
.dropdown {
    position: sticky;
    margin-top: 0;
    margin-bottom: 10px;
    }
  
  .dropdown-wrap {
    display: flex;
    position: relative;
    justify-content: right;
  }
  
  .dropdown-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .open {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .dropdown-list li:last-child {
    border-bottom: none;
  }

  /* BUTTONS */


.next-button .svg-inline--fa,
.notify-button .svg-inline--fa,
.start-monitor-button .svg-inline--fa {
  font-size: 1.2rem;
  margin-right: 5px;
}

  